<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="c in chiffres">
                <span v-if="c%2==0">{{c}} est pair</span>
                <span v-else>{{c}} est impair</span>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        new Vue({
            el: "#app",
            data: {
                chiffres: [2, 4, 5, 7, 8, 9]
            }
        });
    </script>

</body>

</html>